/* Reset styles */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* Set background color and styles for the container */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: white;
    background-color: orange; /* Blue background color */
}

/* Heading styles */
h2 {
    margin-bottom: 20px;
}

/* Form styles */
form {
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1); /* Set background color with opacity */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add box shadow for depth */
}

/* Label styles */
label {
    display: block;
    margin-bottom: 10px;
}

/* Input styles */
input[type="text"],
input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
}

/* Button styles */
button {
    width: 100%;
    padding: 10px;
    background-color: #fff; /* Blue button background color */
    color: orange;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Button hover styles */
button:hover {
    background-color: #007bff; /* Darker blue on hover */
}

/* Style for the add building button */
#add_building {
    width: 30px; /* Adjust width as needed */
    height: 30px; /* Adjust height as needed */
    background-color: #fff; /* Blue button background color */
    color: orange;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px; /* Add margin between the buttons */
}
.buttons-container {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Add margin to separate from the form */
}

/* Hover style for the add building button */
#add_building:hover {
    background-color: #007bff; /* Darker blue on hover */
}
